swap_Hotbar 1=false,direct_Hotbar 1=true,swap_Hotbar 2=false,direct_Hotbar 2=true,swap_Hotbar 3=false,direct_Hotbar 3=true,swap_Hotbar 4=false,direct_Hotbar 4=true,swap_Hotbar 5=false,direct_Hotbar 5=true,swap_Hotbar 6=false,direct_Hotbar 6=true,swap_Hotbar 7=false,direct_Hotbar 7=true,swap_Hotbar 8=false,direct_Hotbar 8=true,swap_Hotbar 9=false,direct_Hotbar 9=true,swap_Hotbar 10=false,direct_Hotbar 10=true,swap_Hotbar 11=false,direct_Hotbar 11=true,swap_Hotbar 12=false,direct_Hotbar 12=true,swap_Hotbar 13=false,direct_Hotbar 13=true,swap_Hotbar 14=false,direct_Hotbar 14=true,swap_Hotbar 15=false,direct_Hotbar 15=true,